@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .mycontainer {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .service-card {
    width: 100px;
    height: 80px;
  }
}

